body 
{
    margin:0;
    padding:0;
    background-image: url("images/moviebg.png");
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;	
}

#Banner
{	  
	text-align:center;	
    background-image: url('images/rancidbannerbg.png');
}

#MovieDesp
{
	font-size: 24pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	font-weight: bold;
    text-shadow: 3px 3px #999999;
}

#ContentBox
{
	margin-left: auto;
    margin-right: auto;
    background-color: #EEEEEE;
	width: 800px;
	
	border-radius: 20px;
	position: relative;	
	overflow: hidden;
}

#Overview
{
    width:250px;
    float:right;
    background-color:#A2B964;
}

#TextDesp
{
    font-family:"Arial";
    padding:10px;
    padding-top:0px;

}

#LeftSection
{
    width:550px;
    position:relative;
    float:left;
}

.StyleBold
{
	font-weight: bold;
    padding-top:5px;
}


#RottenAlign
{
    background-image: url('images/rottenlargebg.png');
    font-size: 48pt;
    color: red;
    font-weight: bold;
    height: 83px;
    vertical-align: bottom;
	
}

#RottenAlign img
{
    float: left;
    margin-right: 5px;
}

.ReviewColumn1
{
    width: 47%;
    height: 700px;
    float: left;
    margin: 0;
}

.ReviewColumn2
{
    width: 47%;
    height: 700px;
    float: left;
    margin-left: 10px;
}

.Review
{
    font-size: 8pt;
    background-color: white;
    font-weight: bold;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 8px;
    overflow: hidden;
    position: relative;

}

.ReviewerInfo
{
    padding-top: 5px;
    padding-bottom: 20px;
    
}

.ReviewerInfo span
{
    font-style: italic;
}

#ReviewCounts
{
    background-color:#A2B964;
    font-size: 15px;
    padding:15px;
    position: absolute;
	bottom:-320px;
	width: 520px;
	text-align: center;
	
}
p img
{ 
	padding-right: 5px;
	float: left;
	
}

#Position
{
    position: absolute;
    right:5px;
    top: 150%;
    
}

.Style
{
    opacity: 0.5;   
}


