body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    background-image: url(background.png);
}

header {
    background-color: hotpink;
}

#gpej {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: beige;
}

h2 {
    color: #343a40;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

footer {
    background-color: hotpink;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
