body {
    margin: 0;
    padding: 0;
}

.flexbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: relative;
    min-height: 100vh;
}

#A, #B, #C, #D, #E, #F {
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    font-family: Tahoma;
    font-size: 40px;
    display: flex;
    justify-content: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px;
}

#A:hover, #B:hover, #C:hover, #D:hover, #E:hover, #F:hover {
    background-color: yellow;
    color: goldenrod;
}

#F {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
